* {
	font-family: 'Rajdhani', sans-serif;
}


html {
	margin: 0;
	height: 100%;
	width: 100%;
	background: url('../img/1.png') fixed;
	background: url('../img/1.png') fixed, linear-gradient(#eee, #fff) fixed;
}

.records {
	padding: 3em;
}

.navbar, .navbar * {
	background-color: transparent;
	font-weight: 700;
	font-size: 1.1em;
}

.navbar-item:hover {
	background-color: transparent !important;
}

.navbar {
	padding: 1em;
	z-index: 999;
}

.has-red-text, .has-red-text *{
	color: #e13a3a !important;
}

.main-title {
	font-weight: 700;
	z-index: 9999;
}
.main-title + .subtitle {
	white-space: pre-line;
}
.titlesub {
	font-weight: 700;
	font-size: 2em;
}
@media screen and (min-width: 768px) {
	.main-title {
		letter-spacing: 1em;
	}
	#current-year {
		font-size: 20em;
		top: -0.68em;
		left: 0;
		right: 0;
	}
	.video-subtitle {
		position: absolute;
		top: -5em;
	}
}

@media screen and (max-width: 767px) {
	.main-title {
		letter-spacing: 0.5em;
	}
	#current-year {
		font-size: 10em;
		top: -10vw;
		left: -10px;
	}
	.video-subtitle {
		margin-bottom: 3em;
	}
	.navbar-item:hover {
		background-color: transparent !important;
	}
	.social-icons {
		margin-left: 9em;
	}
}

.records h1 {
	font-size: 3em;
	animation: 25s colorChange ease-out infinite;
}
.records h2 {
	font-weight: 700;
}

.fa-lg{
	margin-right: 1em;
	margin-left: 1em;
	transition: transform 0.15s ease-out;
}
.fa-lg:hover {
	transform: scale(1.1);
}
.fa-lg * {
	transition: color 0.1s ease-out;
}

.fa-facebook {
	color: black;
}
.fa-facebook:hover {
	color: #3b5998;
}

.fa-twitter {
	color: black;
}
.fa-twitter:hover {
	color: #00aced;
}

.fa-github {
	color: black;
}
.fa-github:hover {
	color: back;
}

.video-subtitle {
	text-align: center;
	width: 100%;
	font-weight: 700;
	animation: updown 2s infinite ease-out;
}

#current-year {
	position: absolute;
	width: 100%;
	font-weight: 100;
	padding: 0;
	opacity: 0.35;
	z-index: 0;
	animation: colorChange 7s ease-out infinite;
}

@keyframes colorChange {
	0% {
		color: #EA2A3F;
	}

	25% {
		color: #ffc100;
	}

	50% {
		color: #42b345;
	}

	75% {
		color: #0000ff;
	}
	100% {
		color: #EA2A3F;
	}

}

@keyframes updown {
	0% {
		transform: translateY(0px);
		opacity: 0.2;
	}
	50% {
		transform: translateY(20px);
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
		opacity: 0.2;
	}
}

.footer {
	margin-top: 2em;
	background-color: lightgray;
	font-weight: 400;
	color: #EA2A3F;
	padding-top: 10px;
	padding-bottom: 10px ;
}

.footer-container{
	margin-top: 0;
}

.footer-list{
	text-align: center;
}

.footer-list-item{
	display: inline-block;
	margin-right: 30px;
	margin-left:30px;
	font-size: 30px;
}

.footer-list-item:hover{
	font-weight: bold;
	color: blue;
}

.icon{
	height: 20px;
	width: 20px;
}

.developer-credit{
	color: black;
}

hr{
	display: block;
	background-color: #EA2A3F;
}